<html>
<head>
<title>LOGIN PAGE</title>
<link rel="stylesheet" href="login.css">

</head>

<body>
<script src="login.js"></script>
<form name="myform" id="myform" method="POST">
 
  <input type="text"required class="text-box" placeholder="STUDENTID" name="Usme"  id="Username"/>
  <input type="password"required  class="text-box1" placeholder="PIN" name="Pin" id="Pin"/>
  <button id="login-btn" value="LOGIN" >LOGIN</button>

  <h4><a href="#">Forgot your password?</a></h4>
  
  

</form>
</body>


<footer>
    <div id="cp">
       <strong> &copy;2019 Appau Samuel</strong>
   </div>
  </footer>
  
</html>