<html>
    <head>
        <title>Display Data</title>
    </head>


    <body>

            <ul>
                    <% for var(i=0; i<information.length; i++){ %>
                        <li><%=information[i].info %</li>
                  
                        <% } %>
           </ul>
                  
    </body>



    <footer>
            <div id="cp">
               <strong> &copy;2019 Appau Samuel</strong>
             </div>
   </footer>
          
</html>