<!DOCTYPE html>
<html>

<head>
<title>STUDENT PAGE</title>
<link rel="stylesheet" href="student.css">
<link rel="stylesheet" href="login.js" >

</head>

<body>

<h4>WELCOME APPAU SAMUEL</h4>
<table  class="table1"   >
<tr  >
<td  class="col"><strong>EMAIL :        </strong>sappau@gmail.com </td>
</tr>
<tr >
<td class="col"><strong>GENDER:   </strong>MALE</td>
</tr>
<tr >
<td class="col"><strong>ADDRESS:  </strong>P.O.Box DC 7235 </td>
</tr>
</table>
<table  class="table-content">
<tr class="col">
<td class="col"><strong>Year</strong></td>
<td class="col">2019</td>
<td class="col" ><strong>Block</strong></td>
<td class="col">FIRST SEMESTER</td>
</tr>
<tr class="col">
<td class="col"><strong>Faculty</strong></td>
<td class="col" colspan="3">COLLEGE OF BASIC AND APPLIED SCIENCE</td>
</tr>
<tr class="col">
<td class="col"><strong>Qualification</strong></td>
<td class="col" colspan="3">BACHELOR OF SCIENCE</td>

</tr>
<tr class="col" >
<td class="col"><strong>Offering Type</strong></td>
<td class="col" colspan="3">MAIN CAMPUS:FULL-TIME</td>
</tr>

<tr class="col" >
<td class="col"><strong>Perid of Study</strong></td>
<td class="col" colspan="3">LEVEL 300</td>

</tr>

</table>


<hr/>

<div id="box-space">
 <ul>
   <li><a href="#">Academic Registration</a></li>
   <li><a href="Rgistration">Hall registration</a></li>
   <li><a href="#">Student Details</a></li>
   <li><a href="#">Student Enquiry</a></li>
   <li><a href="#">Academic Record</a></li>
   <li><a href="#">Student Email</a></li>
</ul>

</div>

<div>
<header>
    <div class="search">
        <input type="text" name="" placeholder="Type here to search" class="textbox">
        <i class="fa fa-search" id="fsearch"></i>
    </div>


      <input type="textarea" placeholder="Workspace" class="textarea">


    
</header>

</div>

</body>



<footer>
  <div id="cp">
     <strong> &copy;2019 Appau Samuel</strong>
 </div>
</footer>






</html>